{% set config = tenant_ui_config.get(tenant_id, tenant_ui_config['default']) %}
{% set brands = config['branding'] %}
{% set has_multiple = brands|length > 1 %}
{% set size = '30%' if has_multiple else '70%' %}

{% if is_banner %}
  <div class="row">
    {% for brand in brands %}
    <div class = "column">
      <img src="{{ brand['src'] }}" alt="{{ brand['alt'] }}" class="img-responsive" style="width:{{ size }}; height:{{ size }}">
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="container">
    <img src="{{ brands[0]['src'] }}" alt="{{ brands[0]['alt'] }}" class="img-responsive" style="width:{{ size }}; height:{{ size }}">
  </div>

{% endif %}
